.nav-projects-container {
  display: flex;
  flex-direction: row;
  margin: 0%;
}

.projects-container {
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  min-width: 75%;
  max-width: fit-content;
}

.background-img {
  background-image: url("../../media/algorithm.png");
  background-repeat: repeat-y;
  background-position: center;
  background-position: top;
  background-size: contain;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

.phead-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.fltr-dateswitch {
  display: flex;
}

.dateSwtch button {
  background-color: #0084ff;
  color: white;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-color: #0657a3;
  height: 100%;
  width: 5rem;
}

.dateSwtch button:hover {
  background-color: #0070d8;
  cursor: pointer;
}

.phead {
  display: flex;
}

.projects-head {
  display: table-cell;
  min-width: fit-content;
  height: fit-content;
  background: linear-gradient(
    to right top,
    #0063be,
    #0084ff,
    #1f93ff,
    #309bff,
    #3ca1ff
  );
  color: rgb(0, 0, 0);
  padding: 6px;
  margin-top: 0%;
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.projects-head {
  width: 8rem;
}
.projects-head h3 {
  margin: 0%;
}

.project-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 380px;
  background-color: rgba(139, 139, 139, 0.925);
  margin: 0.4rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  padding-right: 1%;
  padding-left: 1%;
  transition: 100ms;
}

.project-link:hover {
  transform: scale(1.02);
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(170, 192, 219);
}

.project-link-head {
  width: 100%;
  display: grid;
  grid-template-areas: "top-l div1 top-m div2 top-r";
  align-content: space-evenly;
  justify-content: space-around;
  flex-direction: row;
}

.head-left {
  grid-area: "top-l";
  width: 100%;
  text-align: center;
}

.head-left p {
  color: rgb(82, 82, 82);
  margin-bottom: 0%;
  font-size: smaller;
}

.head-left h3 {
  margin-top: 0%;
}

.head-mid {
  grid-area: "top-m";
  width: 100%;
  text-align: center;
}

.head-mid p {
  color: rgb(82, 82, 82);
  margin-bottom: 0%;
  font-size: smaller;
}

.head-mid h3 {
  margin-top: 0%;
}

.head-right {
  grid-area: "top-r";
  width: 100%;
  text-align: center;
}

.head-right p {
  color: rgb(82, 82, 82);
  margin-bottom: 0%;
  font-size: smaller;
}

.head-right h3 {
  margin-top: 0%;
}

.vertical-divider {
  border-style: solid;
  border-width: 2px;
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-color: rgba(0, 0, 0, 0.164);
}

.completed-project {
  color: green;
  width: 100%;
  text-align: center;
  border-style: solid;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-color: rgba(0, 0, 0, 0.164);
  padding: 1rem;
  width: 95%;
}

.description-cuttoff {
  border-style: solid;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-color: rgba(0, 0, 0, 0.164);
  padding: 1rem;
  width: 95%;
}

.description-cuttoff p {
  text-align: center;
  margin-top: 0%;
  margin-bottom: 1%;
  font-size: smaller;
  color: rgb(82, 82, 82);
}

.fltr-dateswitch {
  float: right;
}
