.nav-ticketAndComment-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0%;
}
.ticket-head {
  display: table-cell;
  min-width: fit-content;
  height: fit-content;
  background-color: rgb(0, 0, 0);
  color: rgb(177, 177, 177);
  padding: 6px;
  margin-top: 0%;
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.ticket-head h3 {
  margin: 0%;
}

.ticket-comments-container {
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.ticket-info-container {
  background-color: rgb(131, 131, 131);
  padding: 1rem;
  border-radius: 25px;
}

.comment-box {
  width: 65%;
  min-width: 30rem;
  height: fit-content;
  margin-bottom: 3rem;
  border-color: rgba(0, 0, 0, 0.233);
  border-style: solid;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
.comment-box p {
  overflow: clip;
  color: rgb(214, 214, 214);
}

.comment-box h4 {
  color: rgb(255, 137, 137);
}

.view-comments-btn {
  margin-top: 2rem;
}

.edit-delete-container {
  display: flex;
  justify-content: flex-end;
}

.del-Container {
  margin-left: 5%;
  margin-right: 3rem;
}

.viewComments-container {
  margin-bottom: 5rem;
}
