.Side-NavBar {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding-left: 0;
  margin-left: 0%;
  background-color: rgb(131, 131, 131);
  min-height: 100vh;
  height: 100%;
  margin-bottom: -15000px; /* allows navbar to stay full height of page */
  padding-bottom: 15000px;
}

.Side-NavBar ul {
  list-style-type: none;
}

.Side-NavBar button {
  min-width: 10rem;
}
.Side-NavBar button:hover {
  cursor: pointer;
}
.NavBar-container {
  overflow: hidden;
  width: fit-content;
}
