.nav-project-tickets-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0%;
}
.project-head {
  display: table-cell;
  min-width: fit-content;
  height: fit-content;
  background-color: rgb(0, 0, 0);
  color: rgb(177, 177, 177);
  padding: 6px;
  margin-top: 0%;
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.project-head h3 {
  margin: 0%;
}

.project-container {
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.full-width-container {
  width: 100%;
}

.project-info-container {
  display: flex;
  background-color: rgb(131, 131, 131);
  padding: 1rem;
  border-radius: 10px;
  min-width: 460px;
}

.info-box {
  width: fit-content;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  color: rgba(0, 0, 0, 0.432);
}

.author-info-box {
  width: fit-content;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.author-info-box h3 {
  color: #006b9c;
}

.project-description-box {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.247);
  border-right: none;
  border-bottom: none;
  border-top: none;
  margin-left: 0%;
  padding-left: 0%;
}

.project-description-box p {
  text-align: center;
  color: rgba(0, 0, 0, 0.452);
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.247);
  border-right: none;
  border-left: none;
  border-top: none;
  margin-left: 0%;
  padding-left: 0%;
  margin-bottom: 0%;
}

.project-description-box h3 {
  padding-left: 0.5rem;
  font-size: medium;
}

.project-auth-status-date-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 50%;
  text-align: center;
}

.project-auth-status-date-box P {
  color: rgba(0, 0, 0, 0.452);
}

.ticket-table {
  background-color: rgb(185, 185, 185);
  border-radius: 10px;
  width: 100%;
  padding: 5px;
}

tbody td {
  text-align: center;
}

tbody tr {
  height: 2rem;
}

tbody tr:nth-child(odd) {
  background-color: #cecece;
}

tbody tr:nth-child(even) {
  background-color: #acacac;
}

.ticket-view-btn {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 5px, 0;
}

.ticket-view-btn :hover {
  color: #ffffff;
  background-color: rgb(0, 0, 0);
}

/* Tickets header and add button styels */
.ticketstext-addbtn-container {
  margin: 1rem;
  margin-bottom: 0%;
  background-color: #006b9c;
  display: flex;
  width: fit-content;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.ticketstext-addbtn-container h3 {
  margin: 0.5rem;
  padding: 0.1rem;
  color: #ffffff;
  background-color: #006b9c;
  letter-spacing: 2px;
}

.ticketstext-addbtn-container button {
  border-top-right-radius: 8px;
  background-color: #acacac;
  width: 3rem;
  font-size: larger;
  border-width: 1px;
  transition: 600ms;
}

.ticketstext-addbtn-container button:hover {
  border-top-right-radius: 8px;
  background-color: rgb(72, 255, 72);
}

.not-author-space {
  height: 22.88px;
}

.Incomplete {
  color: rgb(255, 115, 115);
}

.Completed {
  color: rgb(102, 212, 92);
}
