.admin-page-container {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
  background-color: rgb(90, 89, 89);
  margin-left: 10px;
}

.column h3 {
  text-align: center;
}

.column form {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.column button:hover {
  cursor: pointer;
}

.project-box {
  display: flex;
  flex-direction: column;
  background-color: rgb(134, 134, 134);
  padding: 5px;
  padding-right: 0%;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 0%;
}

.project-box h4 {
  margin-top: 1%;
  margin-bottom: 1%;
}

.project-box button {
  height: fit-content;
}

.ticket-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(134, 134, 134);
  padding: 5px;
  padding-right: 0%;
  width: 90%;
  margin: auto;
  margin-top: 0%;
  margin-bottom: 10px;
}

.ticket-container h4 {
  margin-top: 1%;
  margin-bottom: 1%;
}

.ticket-container button {
  height: fit-content;
}

.buttons {
  float: right;
}

.edit {
  background-color: rgb(211, 211, 211);
  float: right;
}

.delete {
  background-color: rgb(255, 0, 0);
  float: right;
}

.submit {
  background-color: rgb(26, 158, 0);
}
