.admin-page-container {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
  background-color: rgb(90, 89, 89);
  margin-left: 10px;
  margin-top: 95px;
}

.column h3 {
  text-align: center;
}

.column form {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.column button:hover {
  cursor: pointer;
}

.project-box {
  display: flex;
  flex-direction: column;
  background-color: rgb(207, 207, 207);
  padding: 5px;
  padding-right: 0%;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 0%;
}

.project-box h4 {
  margin-top: 1%;
  margin-bottom: 1%;
}

.project-box button {
  height: fit-content;
}

.ticket-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(207, 207, 207);
  padding: 5px;
  padding-right: 0%;
  width: 90%;
  margin: auto;
  margin-top: 0%;
  margin-bottom: 10px;
}

.ticket-container h4 {
  margin-top: 1%;
  margin-bottom: 1%;
}

.ticket-container button {
  height: fit-content;
}

.buttons {
  float: right;
}

.edit {
  color: white;
  background-color: rgb(156, 156, 156);
  float: right;
  border-style: none;
}

.delete {
  color: rgb(255, 160, 160);
  background-color: rgb(160, 0, 0);
  float: right;
  border-style: none;
}

.submit {
  background-color: rgb(94, 148, 83);
  border-style: none;
  height: 100%;
  border-radius: 1px;
  color: rgb(169, 255, 143);
}

.reset-queries-container {
  margin-left: 10px;
  margin-top: 10px;
}

.reset-queries-container button {
  width: 85px;
  height: 85px;
  border-radius: 100%;
  font-weight: bold;
  transition: 500ms;
  background-color: rgb(136, 136, 226);
}

.reset-queries-container button:hover {
  cursor: pointer;
  letter-spacing: 0.5px;
  background-color: rgb(106, 106, 224);
}
