.no-space {
  margin: 0%;
  padding: 0%;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

ul {
  padding-left: 0%;
}

.page {
  background-color: rgb(68, 68, 68);
  margin: 0%;
  padding: 0%;
}

#root {
  padding: 0%;
  margin: 0%;
}
