.ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

li {
  font-size: 1.25rem;
}

.Header {
  background: rgb(82, 81, 81);
  box-shadow: 4px 2px 5px gray;
  color: linear-gradient(
    to right top,
    #ab3cff,
    #c44cfe,
    #da5dfe,
    #ed6ffe,
    #fe81ff
  );

  margin-bottom: 0rem;
  padding: 1.5rem 2rem;
}

b {
  background: linear-gradient(
    to right top,
    #ab3cff,
    #c44cfe,
    #da5dfe,
    #ed6ffe,
    #fe81ff
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: larger;
}

.Header button {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 0.4rem 0.5rem;
}

.Header button:hover {
  background: white;
  color: steelblue;
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
}

.img-BUGtracker {
  display: flex;
  align-items: center;
}

img {
  width: 65px;
  height: auto;
}
