/* Below are styles for edit button */
.editbtn-container button {
  background-color: rgb(51, 105, 255);
  border-style: none;
  height: 3rem;
  width: 5rem;
  padding: 3px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0%;
  border-bottom-left-radius: 0%;
  float: right;
  font-weight: bold;
  transition: 0.9s;
}

.editbtn-container :hover {
  letter-spacing: 0.1rem;
}

.editbtn-container button {
  height: fit-content;
}
